.image
  .image_box
    = link_to image_tag('logo-white',class: 'furima'),root_path
  .image_box_progress
    %ul.image_stat
      %li.image_stat_list
        会員情報
      %li.image_stat_list
        個人情報
      %li.image_stat_list_color_red
        完了

.title
  登録が完了しました

= link_to "トップへ戻る", root_path, class: "Move"