.subFooter
  .subFooter-content
    .subFooter-content-main
      %p.subFooter-content-main-privacy プライバシーポリシー          
      %p.subFooter-content-main-term フリマ利用規約
      %p.subFooter-content-main-trade 特定商取引に関する表記
    .subFooter-icon
      = image_tag("logo.png", height: "40", width: "100", alt: "logo")
    %p.subFooter-copyright
      © Furima, Inc.