.image{
  height: 128px;
  &_box{
    text-align: center;
  }
}

.mercari{
  width: 185px;
  height: 49px;
}

.title{
background-color: white;
width: 700px;
margin: 0 auto;
text-align: center;
font-size: 22px;
padding: 32px;
}

.Move{
  text-align: center;
  display: block;
}