// ===============================================================
// ヘッダー
// ===============================================================

.header{
  padding: 0 60px;
  font-family: "Source Sans Pro", Helvetica, Arial, "游ゴシック体", "YuGothic", "メイリオ", "Meiryo", sans-serif;
  background-color: $white;
  .headerFrame{
    max-width: 1040px;
    min-height: 82px;
    width: 100%;
    margin: 0 auto;
    padding: 15px 0 0;
    .mainHeader{
      display: flex;
      position: relative;
      align-items: center;
      .icon{
        padding-bottom: 10px;
        margin-right: 30px;
        border-radius: 4px;
        .iconBtn{
          width: 140px;
          display: block;
        }
      }
      .searchBox{
        width: 100%;
        margin-left: auto;
        height: 41px;
        form{
          display: flex;
          width: 100%;
          margin-bottom: 10px;
          .inputBox{
            width: calc(100% - 26px);
            height: 34px;
            padding: 0 0 0 5px;
            border: 1px rgb(185, 185, 185) solid;
          }
          .searchBox__right{
            position: relative;
            border: 1px #3CCACE solid;
            height: 34px;
            .submitBtn{
              width: 34px;
              height: 34px;
              cursor: pointer;
              border-top: 1px #3CCACE solid;
              border-right:  1px #3CCACE solid;
              border-bottom: 1px #3CCACE solid;
              background-color: #3CCACE;
            }
            .searchIcon{
              position: absolute;
              left: 8px;
              top: 8px;
            }
          }
        }
      }
    }
    .listsFrame{
      display: flex;
      height: 32px;
      font-size: 14px;
      line-height: 32px;
      .listsFrameLeft{
        display: flex;
        position: relative;
        list-style: none;
        height: 32px;
        a{
          text-decoration: none;
          color: rgb(88, 88, 88);
          &:hover{
            color: rgb(255, 187, 0);
          }
        }
        &__item--first{
          text-decoration: none;
          padding: 0 30px 0 0;
        }
      }
      .listsFrameRight{
        list-style: none;
        margin-left: auto;
        display: flex;
        height: 32px;
        a{
          text-decoration: none;
          color: rgb(88, 88, 88);
        }
        &__item--first{
          padding: 0 16px 0 0;
        }
        &__item--new{
          padding-left: 16px;
        }
      }
    }
  }
}
