
// ===============================================================
// TOPページ
// ===============================================================

.topPage{
  .topMain{
    display: flex;
    width: 100%;
    height: 560px;
    // background-image: url("bg-mainVisual-pict_pc.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    position: relative;
    padding: 0 60px;
    align-items: center;

    .topOne{
      padding-top: 60px;
      padding-left: 116px;
      &__title{
        font-size: 60px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        line-height: 1.2;
        color: #fff;
        font-weight: normal;
      }
      &__text{
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 18px;
        color: #fff;
        line-height: 1.77778;
        margin: 16px 0 0 0;
      }
      &__btn{
        display: flex;
        .appleBtn{
          width: 180px;
          margin: 13px 10px 0 0;
          &:hover{
            opacity: 0.5;
          }
        }
        .googleBtn{
          width: 205px;
          margin-right: 10px;
          &:hover{
            opacity: 0.5;
          }
        }
        .image {
          width: 100%;
          vertical-align: bottom;
        }
      }
    }
  }

  .topTwo{
    padding: 60px 20px;
    &__title{
      text-align: center;
      font-size: 26px;
      line-height: 1.4;
      font-weight: bold;
      margin-bottom: 25px;
      padding-bottom: 15px;
      position: relative;
      &::after{
        content: "";
        width: 70px;
        height: 4px;
        background-color: #3CCACE;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
      }
    }
    .topTwoBox{
      text-align: center;
      display: flex;
      max-width: 1020px;
      width: 100%;
      margin: 0 auto;
      &__first{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .imageFirst{
          position: relative;
          margin-bottom: 20px;
          width: 100%;
          &__tag{
            width: 100%;
          }
          .numberFirst{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            color: #fff;
            background-color: #3CCACE;
          }
        }
      }
      &__second{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .imageSecond{
          position: relative;
          margin-bottom: 20px;
          width: 100%;
          &__tag{
            width: 100%;
          }
          .numberSecond{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
      }
      &__third{
        width: 30%;
        margin: 16px 5% 0 0;
        text-align: left;
        display: flex;
        flex-direction: column;
        align-items: center;
        .imageThird{
          position: relative;
          margin-bottom: 20px;
          width: 100%;
          &__tag{
            width: 100%;
          }
          .numberThird{
            display: inline-block;
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 4%;
            font-size: 30px;
            text-align: center;
            margin: 0 5px 0 0;
            padding: 10px 20px;
            background-color: #3CCACE;
            color: #fff;
          }
        }
      }
      .list__text{
        font-size: 24px;
        line-height: 50px;
        font-weight: bold;
        margin: 0 0 0 2px;
        span{
          color: #3CCACE;
        }
      }
      .list__explanation{
        font-size: 18px;
        line-height: 1.5;
        margin: 16px 0 0;
      }
    }
  }

  .topThree{
    display: flex;
    height: 400px;
    background-image: url("bg-topMiddleDl-pict");
    background-position: bottom right;
    background-size: cover;
    align-items: center;
    .topPublicity{
      color: #fff;
      text-shadow: 0 0 5px rgba(0,0,0,0.4);
      text-align: left;
      max-width: 1040px;
      width: 100%;
      margin: 40px auto 0 auto;
      &__title{
        font-size: 27px;
        font-weight: bold;
        line-height: 1.4;
      }
      &__text{
        font-size: 18px;
        margin: 20px 0 30px;
        line-height: 1.5;
      }
      .content__btn{
        display: flex;
        .appleBtn{
          width: 180px;
          margin: 13px 10px 0 0;
          &:hover{
            opacity: 0.5;
          }
        }
        .googleBtn{
          width: 205px;
          margin-right: 10px;
          &:hover{
            opacity: 0.5;
          }
        }
      }
    }
  }

  .topFour{
    padding: 60px 100px;
    background-color: #fff;
    &__title{
      height: 41px;
      text-align: center;
      line-height: 41px;
      font-size: 27px;
      font-weight: bold;
      position: relative;
      padding: 0 0 15px;
      margin: 0 0 40px;
      &::after{
        content: "";
        width: 70px;
        height: 4px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: #3CCACE;
      }
    }
    .topItems{
      width: 100%;
      display: flex;
      margin: 0 auto;
      list-style: none;
      max-width: calc(1040px + 20px);
      .itemImage{
        width: 70%;
        margin: 0 auto;
      }
      .item__title{
        font-size: 18px;
        text-align: center;
        font-weight: bold;
        margin: 38px 0 15px;
      }
      .item__explanation{
        margin: 0 0 40px;
        font-size: 17px;
        font-weight: 200;
        text-align: left;
        line-height: 1.4;
      }
      .topItem-A{
        width: calc(100% / 3);
        padding: 0 20px;
        text-align: center;
      }
      .topItem-B{
        width: calc(100% / 3);
        padding: 0 20px;
        text-align: center;
      }
      .topItem-C{
        width: calc(100% / 3);
        padding: 0 20px;
        text-align: center;
      }
    }
  }

  .topFive{
    padding: 80px 0 40px;
    background-color: #f8f8f8;
    &__title{
      font-size: 28px;
      text-align: center;
      font-weight: bold;
      line-height: 1.5;
    }
    .pickuContainer{
      .containerHead{
        a{
          text-decoration: none;
          font-weight: bold;
          .title{
            text-align: center;
            font-size: 24px;
            line-height: 1.5;
            color: #3CCACE;
          }
        }
      }
      .containerMain{
        width: 780px;
        margin: 26px auto 0;
        padding: 0 0 26px;
        display: flex;
        justify-content: space-around;
        height: 100%;
        background-color: #f8f8f8;
        .containerList{
          background-color: #fff;
          width: 220px;
          &:hover{
            opacity: 0.5;
          }
          a{
            text-decoration: none;
          }
          .product__info{
            color: #333;
            padding: 16px;
            line-height: 1.4;
            .name{
              font-weight: normal;
            }
            .description{
              display: flex;
              list-style: none;
              text-decoration: none;
              .liking{
                margin-left: auto;
                .fa-star{
                  display: inline-block;
                  font-size: inherit;
                  text-rendering: auto;
                  -webkit-font-smoothing: antialiased;
                  font: normal normal normal 14px/1 FontAwesome;
                  &::before {
                    content: "\f005";
                    font-family: FontAwesome;
                  }
                }
              }
            }
            .tax {
              font-size: 10px;
              text-align: left;
            }
          }
        }
      }
    }
  }