.the{
  height: 128px;
  &_above{
    text-align: center;
  }
}

.mercari{
  width: 185px;
  height: 49px;
}

.Individual{
  background-color: white;
  width: 700px;
  margin: 0 auto;
  text-align: center;
  font-size: 22px;
  padding: 32px;
}

.box{
  background-color: white;
  border-top: 1px solid #f5f5f5;
  margin: 0 auto;
  width: 700px;
}

.Description {
  background-color: white;
  text-align:center;
  padding: 9px 80px 9px;
}

.color{
  background-color: blue;
  color: White;
}