// ===============================================================
// メイン外のヘッダー
// ===============================================================

.extop{
  display: flex;
  background-color: $gray;
  &-logo{
    margin: 20px auto;
  }
}