// ===============================================================
// メイン外のフッター
// ===============================================================

.subFooter{
  margin-top: 10px;
  text-align: center;
  &-content{
    margin: 0 auto;
    &-main{
      margin-top: 15px;
      display: flex;
      margin: 0 auto;
      justify-content: center;
      &-privacy{
        margin-right: 10px;
        margin-bottom: 10px;
        display: inline-block;
      }
      &-term{
        margin-right: 10px;
        display: inline-block;
      }
      &-trade{
        display: inline-block;
      }
    }
  &-icon{
    margin: 5px;
  }
  &-copyright{
    margin: 5px auto;
    display: inline-block;
  }
 }
}