.wrapper
  .content
    .extop
      .extop-logo
        = image_tag("logo.png", height: "40", width: "100", alt: "logo")
    .exmain
      .exmain__label
        購入完了しました
      .exmain__container
        = link_to 'トップページへ戻る', root_path
  = render "shared/subFooter"