.wrapper
  .content
    .extop
      .extop-logo
        = image_tag("logo.png", height: "40", width: "100", alt: "logo")
    .exmain
      .exmain-image
        .exmain-image__name
          %label 出品画像
        %p.exmain-image__limit
          最大10枚までアップロードできます
        .exmain-image__input
          %label.fas.fa-camera
            %input(type="image" class="form-image")/
          %p.image-show
            ドラッグアンドドロップ
            またはクリックしてファイルをアップロード

        
      .exmain-item
        .exmain-item__name
          %label 商品名
          %span.exmain-label 必須
        .exmain-item__name-input
          %input(type="text" name="name" value placeholder="40文字まで")/
        .exmain-item__explain
          %label 商品の説明
          %span.exmain-label 必須
        .exmain-item__explain-input
          %textarea(type="text" name="name" value placeholder="商品の説明(必須1,000文字以内(色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです。"
          class="input-explain" cows="40" rows="7" )

      .exmain-detail
        .exmain-detail-top
          %label 商品の詳細
        .exmain-detail-category
          %label カテゴリー
          %span.exmain-label 必須
        .exmain-detail-category-input
          %select(type="text")
            %option --
            %option{category: "レディース", value: " "} レディース
            %option{category: "メンズ", value: " "} メンズ
            %option{category: "ベビー・キッズ", value: " "} ベビー・キッズ
        .exmain-detail-brand
          %label ブランド
          %span.exmain-label-gray 任意
        .exmain-detail-brand-input
          %input(type="text")
        .exmain-detail-status
          %label 商品の状態
          %span.exmain-label 必須
        .exmain-detail-status-input
          %select(type="text")
            %option --
            %option{status: "新品、未使用", value: " "} 新品、未使用
            %option{status: "目立った傷なし", value: " "} 目立った傷なし
            %option{status: "傷や汚れあり", value: " "} 傷や汚れあり
      .exmain-deliver
        .exmain-deliver-top
          %label 配送について
          .exmain-deliver-top-qa
        .exmain-deliver-fee
          %label 配送料の負担
          %span.exmain-label 必須
        .exmain-deliver-fee-input
          %select(type="text")
            %option --
            %option{fee_side: "送料込み(出品者負担)", value: " "} 送料込み(出品者負担)
            %option{fee_side: "着払い(購入者負担)", value: " "} 着払い(購入者負担)
        .exmain-deliver-region
          %label 配送元の地域
          %span.exmain-label 必須
        .exmain-deliver-region-input
          = form_for '' do |f|
            = f.collection_select :prefecture_id, Prefecture.all, :id, :name, prompt: "--"
        .exmain-deliver-date
          %label 配送までの日数
          %span.exmain-label 必須
        .exmain-deliver-date-input
          %select(type="text")
            %option --
            %option{shipping_days: "1〜2日で発送", value: " "} 1〜2日で発送
            %option{shipping_days: "2〜3日で発送", value: " "} 2〜3日で発送
            %option{shipping_days: "4〜7日で発送", value: " "} 4〜7日で発送

      .exmain-check
        %label.exmain-check-top
          価格(¥300〜9,999,999)
          .exmain-check-top-qa
        .exmain-check-price
          .exmain-check-price-title
            %label.price 販売価格
            %span.exmain-label 必須
            %input(type="text" class="exmain-check-price-input")/
        .exmain-check-fee
          .exmain-check-fee-tax 販売手数料（10%）
          %p.fee-span -
        .exmain-check-profit-box
          .exmain-check-profit 販売利益
          %p.fee-span -
        .check-button
          %button.check-button-pay
            出品する
          %button.check-button-back
            戻る
        %p.exmain-check-detail
          禁止されている行為および出品物を必ずご確認ください。偽ブランド品や盗品物などの販売は犯罪であり、法律により処罰される可能性があります。 また、出品をもちまして加盟店規約に同意したことになります。

  .footer
    .footer-content
      .footer-content-main
        %p.footer-content-main-privacy プライバシーポリシー          
        %p.footer-content-main-term フリマ利用規約
        %p.footer-content-main-trade 特定商取引に関する表記
      .footer-icon
        = image_tag("logo.png", height: "40", width: "100", alt: "logo")
      %p.footer-copyright
        © Furima, Inc.
      

