

.category-menu{
  height: 50px;
  width: 100%;
  background-color: white;
  padding: 0 60px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  line-height: 50px;
  ul{
    display: flex;
    .item{
      font-weight: bold;
    }
    li{
      padding-right: 10px;
      a{
        color: black;
      }
    }
  }
}

.user-mypage {
  margin: 0 auto ;
  width: 70%;
  &__payment {
    width: 660px;
    background-color:rgb(123, 221, 226);
    text-align: center;
    float: right;
  }
  &__side {
    width: 280px;
    height: 100%;
    &__nav {
      h3 {
        font-size: 16px;
        margin-block-start: 1em;
        font-weight: bold;
      }
      ul {
        margin-top: 20px;
        list-style: none;
      }
      &__list {
        li {
          margin: 1px;
          &:hover{
            opacity: 0.6;
          }
          i {
            display: list-item;
            float: right;
            opacity: 0.5;
            &:hover {
              transform: translate(3px, 0);
              opacity: 1;
            }
          }
          a {
            display: block;
            text-decoration: none;
            color: black;
            cursor: pointer;
            padding: 16px;
          }
        }
        &__item {
          position: relative;
          display: block;
          min-height: 48px;
          background: #fff;
          font-size: 14px;
          color: #333;
          &__destroy {
            background-color: rgb(123, 196, 199);
          }
        }
      }
    }
  }

}
