.open {
  height: 48px;
  background: #0066FF;
}

.open_kurasu {
  width: 1060px;
  height: 110px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0 50px;
  position: relative;
}

.open_category {
  display: inline-block;
  text-align: center;
  width: 82px;
  height: 48px;
  line-height: 48px;
  margin-left: 16px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.open_logo {
  display: inline-block;
  text-align: center;
  width: 82px;
  height: 48px;
  font-size: 14px;
  font-weight: bold;
  color: #ffffff;
}

.open_message {
  display: inline-block;
  padding-left: 40px;
  padding-right: 32px;
  width: 424px;
  height: 32px;
  border: 1px solid #6699FF;
  color: #ffffff;
  font-size: 12px;
  border-radius: 16px;
  background: #6699FF url(https://image.shoppies.jp/img_m/icon_search_pc.gif) no-repeat 3% 51%;
  vertical-align: middle;
  line-height: 30px;
}

.header {
  width: 100%;
  background: #0099FF;
}

.header_kurasu {
  display: table;
  width: 1060px;
  height: 112px;
  padding: 30px 50px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
}

.header__logo {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 12px;
  vertical-align: baseline;
  background: transparent;
}

.header__message {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}

.header__test {
  color: #ffffff;
  text-align: left;
  font-size: 16px;
  font-weight: bold;
  display: inline-block;
}

.header .gif {
  vertical-align: top;
  width: 80px;
}

.contents {
  padding: 60px 50px;
}

.contents__taitoru {
  background-color: #CCFFFF;
  display: table;
  width: 100%;
  padding: 14px 40px 14px 18px;
  border: 2px solid #ececec;
  min-height: 142px;
}

.contents .gazo {
  display: table-cell;
  vertical-align: top;
  width: 160px;
}

.contents__kuras {
  display: table-cell;
  vertical-align: top;
  width: 580px;
}

.contents__clas {
  font-size: 16px;
  font-weight: bold;
  color: #646166;
  margin-bottom: 12px;
  display: inline-block;
}

.contents__kane {
  font-size: 24px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 8px;
}

.information {
  padding: 60px 50px;
}

.information__burokku {
  background-color: #CCFFFF;
  display: table;
  width: 100%;
  padding: 22px 22px;
  border: 2px solid #ececec;
  min-height: 142px;
}

.information__Haiso {
  display: table-cell;
  width: 160px;
  font-size: 14px;
  color: #646166;
}

.information__name {
  font-size: 14px;
  color: #646166;
  margin-bottom: 8px;
}

.information__Postal {
  font-size: 14px;
  color: #646166;
  margin-bottom: 8px;
}

.information__Street {
  font-size: 14px;
  color: #646166;
  margin-bottom: 8px;
}

.information__phone {
  font-size: 14px;
  color: #646166;
  margin-bottom: 8px;
}

.information__order {
  display: inline-block;
  text-decoration: none;
  width: 120px;
  height: 32px;
  line-height: 32px;
  color: #646166;
  -webkit-appearance: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#ececec));
  background: linear-gradient(to bottom, #ffffff 0%, #ececec 100%);
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 20px;
  border: 1px solid #c8c8c8;
  text-align: center;
}

.information__desc {
  font-size: 12px;
  color: #646166;
}

.feeDesc {
  padding: 0px 50px;
}

.feeDesc_order {
  font-size: 12px;
  color: #646166;
  margin-bottom: 10px;
}

.feeTbl {
  padding: 60px 50px;
}

.feeTbl__test {
  background-color: #CCFFFF;
  width: 100%;
  border: 1px solid #ececec;
  padding: 20px;
}

.feeTbl__order {
  font-size: 18px;
  font-weight: bold;
  color: #646166;
  margin-bottom: 14px;
}

.feeTbl__Konbini {
  font-size: 14px;
  color: #646166;
  margin-bottom: 14px;
}

.feeTbl__ATM {
  font-size: 14px;
  color: #646166;
  margin-bottom: 14px;
}

.feeTbl__credit {
  font-size: 14px;
  color: #646166;
  margin-bottom: 14px;
}

.feeTbl__gift {
  font-size: 14px;
  color: #646166;
  margin-bottom: 14px;
}

.feeTbl__zengaku {
  font-size: 14px;
  color: #646166;
  margin-bottom: 14px;
}

.Decision {
  text-align: center;
}

.Decision__Decision {
  padding: 0px 50px;
  display: inline-block;
  height: 45px !important;
  width: 400px;
  margin-top: 20px;
  margin-bottom: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(#0099FF), to(#3399FF));
  background: linear-gradient(to bottom, #0099FF 0%, #3399FF 100%);
  border: 1px solid #0099FF;
  color: #ffffff !important;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none !important;
  line-height: 45px;
  -webkit-appearance: none;
  text-align: center;
  vertical-align: middle;
}

.category-menu {
  height: 50px;
  width: 100%;
  background-color: white;
  padding: 0 60px;
  -webkit-box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
  line-height: 50px;
}

.category-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.category-menu ul .item {
  font-weight: bold;
}

.category-menu ul li {
  padding-right: 10px;
}

.category-menu ul li a {
  color: black;
}

.user-mypage {
  margin: 0 auto;
  width: 70%;
}

.user-mypage__payment {
  width: 660px;
  background-color: #7bdde2;
  text-align: center;
  float: right;
}

.user-mypage__side {
  width: 280px;
  height: 100%;
}

.user-mypage__side__nav h3 {
  font-size: 16px;
  -webkit-margin-before: 1em;
          margin-block-start: 1em;
  font-weight: bold;
}

.user-mypage__side__nav ul {
  margin-top: 20px;
  list-style: none;
}

.user-mypage__side__nav__list li {
  margin: 1px;
}

.user-mypage__side__nav__list li:hover {
  opacity: 0.6;
}

.user-mypage__side__nav__list li i {
  display: list-item;
  float: right;
  opacity: 0.5;
}

.user-mypage__side__nav__list li i:hover {
  -webkit-transform: translate(3px, 0);
          transform: translate(3px, 0);
  opacity: 1;
}

.user-mypage__side__nav__list li a {
  display: block;
  text-decoration: none;
  color: black;
  cursor: pointer;
  padding: 16px;
}

.user-mypage__side__nav__list__item {
  position: relative;
  display: block;
  min-height: 48px;
  background: #fff;
  font-size: 14px;
  color: #333;
}

.user-mypage__side__nav__list__item__destroy {
  background-color: #7bc4c7;
}
/*# sourceMappingURL=payments.css.map */