

.category-menu{
  height: 50px;
  width: 100%;
  background-color: white;
  padding: 0 60px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  line-height: 50px;
  ul{
    display: flex;
    .item{
      font-weight: bold;
    }
    li{
      padding-right: 10px;
      a{
        color: black;
      }
    }
  }
}

.user-mypage {
  margin: 0 auto ;
  width: 70%;
  display: flex;
  justify-content: center;
  &__content {
    width: 660px;
    background-color:rgb(206, 223, 233);
    height: 100%;
    &__icon {
      height: 300px;
      text-align: center;
      &__image {
        padding-top: 50px;
        height: 200px;
        .iconImage {
          height: 112px;
          width: 120px;
        }
      }
      &__name {
        font-size: 14px;
        font-weight: bold;
      }
      &__status {
        font-size: 12px;
        font-weight: bold;
      }

    }
    &__product {
      height: 450px;
      &__text {
        padding: 20px;
        font-size: 18px;
        font-weight: bold;
        height: 50px;
      }
      &__items {
        height: 400px;
        text-align: center;
        line-height: 400px;
      }
    }
  }
}

