

.category-menu{
  height: 50px;
  width: 100%;
  background-color: white;
  padding: 0 60px;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.2);
  line-height: 50px;
  ul{
    display: flex;
    .item{
      font-weight: bold;
    }
    li{
      padding-right: 10px;
      a{
        color: black;
      }
    }
  }
}

.user-mypage {
  margin: 0 auto ;
  width: 70%;
  &__content {
    width: 660px;
    background-color:rgb(206, 223, 233);
    float: right;
    &__icon {
      // background-color: lightblue;
      height: 300px;
      text-align: center;
      &__image {
        padding-top: 50px;
        height: 200px;
        .iconImage {
          height: 112px;
          width: 120px;
        }
      }
      &__name {
        font-size: 14px;
        font-weight: bold;
      }
      &__status {
        font-size: 12px;
        font-weight: bold;
      }

    }
    &__product {
      height: 450px;
      &__text {
        padding: 20px;
        font-size: 18px;
        font-weight: bold;
        height: 50px;
        // background-color: lightgoldenrodyellow;
      }
      &__items {
        // background-color: lightgreen;
        height: 400px;
        text-align: center;
        line-height: 400px;
      }
    }
  }
  &__side {
    width: 280px;
    height: 100%;
    // background-color: lightcoral;
    &__nav {
      h3 {
        font-size: 16px;
        margin-block-start: 1em;
        font-weight: bold;
      }
      ul {
        margin-top: 20px;
        list-style: none;
      }
      &__list {
        li {
          // cursor: pointer;
          margin: 1px;
          &:hover{
            opacity: 0.6;
          }
          i {
            display: list-item;
            float: right;
            opacity: 0.5;
            &:hover {
              transform: translate(3px, 0);
              opacity: 1;
            }
          }
          a {
            display: block;
            text-decoration: none;
            color: black;
            cursor: pointer;
            padding: 16px;
          }
        }
        &__item {
          position: relative;
          display: block;
          min-height: 48px;
          background: #fff;
          font-size: 14px;
          color: #333;
          &__destroy {
            background-color: rgb(106, 173, 170);
          }
        }
      }
    }
  }

}

.user-mypage__payment {
  float: right;
}
